In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.ensemble import RandomForestClassifier,BaggingClassifier,AdaBoostClassifier,VotingClassifier

In [2]:
ds = pd.read_csv('LR.csv - LR.csv.csv')
ds

     Age  Salary  Purchased
0     19   19000          0
1     35   20000          0
2     26   43000          0
3     27   57000          0
4     19   76000          0
..   ...     ...        ...
395   46   41000          1
396   51   23000          1
397   50   20000          1
398   36   33000          0
399   49   36000          1

[400 rows x 3 columns]

In [3]:
X=ds.iloc[:,[0,1]]
y=ds.iloc[:,2]

In [4]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=5)

In [5]:
dt=DecisionTreeClassifier()

In [6]:
dt.fit(X_train,y_train)

DecisionTreeClassifier()

In [7]:
dt.score(X_test,y_test)

0.85

In [8]:
rf=RandomForestClassifier(n_estimators=10)
rf.fit(X,y)

RandomForestClassifier(n_estimators=10)

In [9]:
rf.score(X_test,y_test)

0.9833333333333333

In [10]:
bc=BaggingClassifier(DecisionTreeClassifier(),n_estimators=10,max_samples=0.5)

In [11]:
bc.fit(X_train,y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(), max_samples=0.5)

In [12]:
bc.score(X_test,y_test)

0.9083333333333333

In [13]:
boost=AdaBoostClassifier()

In [14]:
boost.fit(X_train,y_train)

AdaBoostClassifier()

In [15]:
boost.score(X_test,y_test)

0.8666666666666667

In [16]:
lr=LogisticRegression()

In [17]:
svm=SVC(kernel='rbf')

In [18]:
env=VotingClassifier(estimators=[('lr',lr),('dt',dt),('svm',svm)],voting='hard')

In [19]:
env.fit(X_train,y_train)

VotingClassifier(estimators=[('lr', LogisticRegression()),
                             ('dt', DecisionTreeClassifier()), ('svm', SVC())])

In [20]:
env.score(X_test,y_test)

0.7583333333333333